
.header {
  width: 100%;
  position: absolute;
  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_logo {
  font-size: 30px;
  font-weight: 700;
  color: red;

}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}